[submodule "src/drod_lib/drod"]
	path = src/drod_lib/drod
	url = git@github.com:CaravelGames/drod.git
[submodule "src/drod_lib/metakit"]
	path = src/drod_lib/metakit
	url = git@github.com:jnorthrup/metakit.git
