[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
pybind11 = "*"
pybind11-stubgen = "*"

[requires]
python_version = "3.10"

[packages]
pyautogui = "*"
pillow = "*"
numpy = "*"
scipy = "*"
sortedcontainers = "*"
pydantic = "*"
