[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Need to pin the version, since it's a prerelease
black = "==20.8b1"
# This is not installed as a dependency of Black since we have Python >= 3.8.
# Black fails without it, so we're installing it manually.
typing-extensions = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[packages]
pyautogui = "*"
pillow = "*"
numpy = "*"
opencv-python-headless = "*"
sortedcontainers = "*"
pydantic = "*"
